.white-text{
  color:white;
}

.navbar-brand > img {
      max-height: 175%;
      height: 175%;
      margin-top: -7px;
      -o-object-fit: contain;
      object-fit: contain;
    }
nav.navbar {
  background-color:#447ab4;
}

nav.navbar ul.navbar-nav li a:hover {
  background-color: #4e528b;
}