img.student-avatar{
  border-radius: 50%;
  border: gray solid 2px;
  cursor: pointer;
}

.thumbnail-student-initials{
  width: 67.5px;
  height: 67.5px;
  border-radius: 50%;
  border: #3C3C3C solid 2px;
  cursor: pointer;
  text-align: center;
  padding-top:18px;
  font-size: 19px;
  font-weight: bold;

  /* Default background-color */
  background-color: teal;
}