::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: darkgray;
}

.capitalize{
  text-transform: capitalize;
}

.lowercase{
  text-transform: lowercase;
}

button.btn-circular{
  border-radius: 50%;
}

p.large,li.large,a.large{
  font-size: 20px;
}

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}

.grey{
  background-color: #FFFAF0;
  border-radius: 10px;
}

.addParentButton {
  height: 50% !important;

}